.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 10rem;
  width: 100vw;
  height: auto;
}


.description {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 1rem;
  background-color:mediumturquoise;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.container {
  width: 70vw;
  background-color: bisque;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
}