.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 10rem;
  width: 100vw;
  height: 100vh;
}


.description {
  position: relative;
  /* background-color:#48d1cc; */
  /* border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius); */
  color: #48d1cc;
}

.container {
  width: 70vw;
  height: auto;
  background-color: #ffe4c4;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}